<!-- Extend base template -->
{% extends "layout.html" %}
<!-- Fill block with content -->
{% block content %}
<!-- Display table for login -->
<form action="" method="post">
    <table class="logtable">
        <!-- Link to register -->
        <caption class="reglink">Dont have an account? <a href="{{ url_for('register') }}">Register!</a>
        </caption>
        <tr>
            <th class="lghead"><label for="username">Username</label></th>
            <td class="lgrow"><input name="username" value="{{
        request.form.username }}" id="username"></td>
        </tr>
        <tr>
            <th class="lghead"><label for="password">Password</label></th>
            <td class="lgrow"><input type="password" name="password" value="{{
        request.form.password }}" id="password"></td>
        </tr>
        <tr>
            <!-- Submit Login-->
            <td class="lgrow"><input class="fillin" type="submit" value="Login"></td>
            <td><a href="/reset">Reset Password</a></td>
        </tr>
    </table>
</form>
<div>
    <!-- Display clock image -->
    <img src="/static/clock.png" alt="Image 1">
</div>
{% endblock %}